@model IEnumerable<ICA1.Models.Rent>
@{
    ViewBag.Title = "Index";
}

<h2>Rent</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="align-content-end">

    @using (Html.BeginForm("Index", "Rent"))
    {
        @Html.DropDownList("CityDropDown", ViewBag.City as SelectList, "-Select City-")
        <input type="submit" value="Search">
    }
    @Html.ActionLink("View All", "Index")
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PropertyNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ptype)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rooms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner.OwnerNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Staff.StaffNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Branch.BranchNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rents)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PropertyNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ptype)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rooms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner.OwnerNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Staff.StaffNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Branch.BranchNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rents)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PropertyNo }) |
            @Html.ActionLink("Details", "Details", new { id=item.PropertyNo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PropertyNo })
        </td>
    </tr>
}

</table>
<div class="form-actions no-color">

    | @Html.ActionLink("Back to Home", "Index", "Home/Index")
</div>
